body{background-color: #fff; color: #555; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;} /* bgc#fff c#555 ffa */
header{background-color: #000032; color: #fff; background-image: url(images/sunset.jpg); background-position: right; background-repeat: no-repeat; line-height: 400%; text-indent: 1em;} /* bgc#002171 c#fff bgi bgdp bgr lh400% txi*/
nav{background-color: #bbdefb; font-weight: bold;} /* bgc#bbdefb fwb */
nav a{text-decoration: none;} /* txd */
h1{margin-bottom: 0;} /* mb0*/
h1, h2, h3, footer{font-family: Georgia, "Times New Roman", serif;} /* fft */
h2{color: #1976d2;} /* c#1976d2 */
h3{color: #003;} /* c#003 */
dt{color: #002171;} /* c#002171 */
address{font-style: normal;} /* fsn */
footer{font-size: 75%; font-style: italic; text-align: center;} /* fz75% fsi txa*/
.resort{color: #1976d2; font-weight: bold;} /* c#1976d2 fwb*/